<div class="container_filter">
    <mat-button-toggle-group [(ngModel)]="categoryId" aria-label="Font Style">
        <mat-button-toggle value="604fd068b2690256a866fe02">Sport</mat-button-toggle>
        <mat-button-toggle value="604fd068b2690256a866fe00">Technology</mat-button-toggle>
        <mat-button-toggle value="604fd068b2690256a866fe01">Music</mat-button-toggle>
        <mat-button-toggle value="6050581c0e50e65eac35586f">Art</mat-button-toggle>
        <mat-button-toggle value="">All</mat-button-toggle>
      </mat-button-toggle-group>
<div>
    <div>
        <mat-radio-group [(ngModel)]="published" aria-label="Select an option" class="example-form-field">
            <mat-radio-button value="true">Publish</mat-radio-button>
            <mat-radio-button value="false">Unpublish</mat-radio-button>
        </mat-radio-group>
    </div>
</div>
    <div>
        <div (click)="saveFilter()" class="container_filter-yes">
            <img src="https://www.flaticon.com/premium-icon/icons/svg/829/829097.svg" alt="">
        </div>
    </div>
</div>

