<div class="wrapper">
    <div class="header">
        <div class="header_img">
            <img src="https://www.flaticon.com/svg/vstatic/svg/1456/1456810.svg?token=exp=1616419619~hmac=f4e4a323169480ea8d356e3c46bde561" alt="">
        </div>
        <div>
            <h1>
                MY ARTICLES
            </h1>
        </div>
        <div class="container">
            <div class="example-button-container">
                <button mat-raised-button
                        matTooltip="Add new article"
                        (click)="openDialog()"
                        
                        mat-fab  class="container_img">
                        <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="example-button-container">
                <button (click) = "showFilterFunc()"
                    mat-raised-button
                    matTooltip="Filter articles"
                    class="container_img" 
                    mat-fab aria-label="Example icon button with a delete icon">
                    <mat-icon>filter</mat-icon>
                       
                </button>
            </div>
        </div>
    </div>
  
    <div *ngIf = "showFilter" >
        <app-body-filter (valueEventFilter) = "addItem($event)" (valueEventPublishFilter) = "addFilterPublish($event)" (changeStateShowFilterElem) = "showFilter = newStateShowFilterElem" [showFilter] = 'showFilter' ></app-body-filter>
    </div>

</div>

