<div mat-dialog-content >
    <div class="close_btn-wrapper">
      <button (click)="onNoClick()" mat-icon-button color="accent" 
      class="close_btn"
      aria-label="Example icon button with a menu icon">
      <mat-icon>close</mat-icon>
    </button>
    </div>
      <h2 mat-dialog-title >{{dataArt.head}}</h2>
      <mat-dialog-content [formGroup]="articlesForm" >
        <mat-form-field class="example-form-field">
            <mat-label>Enter Title </mat-label>
            <input matInput type="text"  formControlName="title" name="title" />
        </mat-form-field>
        <mat-form-field class="example-form-field" >
            <mat-label>Enter Description</mat-label>
            <textarea placeholder="Enter description..." formControlName="description" name="description" matInput></textarea>
        </mat-form-field>
        <mat-form-field class="example-form-field" > 
            <mat-label>Choose an option</mat-label>
              <mat-select  formControlName="categoryId" >
                    <div *ngFor = 'let category of categories'>
                        <mat-option value="{{category._id}}">{{category.name}}</mat-option>
                    </div>
                </mat-select>
        </mat-form-field>
        <div class="radio" >
          <mat-slide-toggle formControlName="published">Publish immediately?</mat-slide-toggle>
        </div>
    <mat-dialog-actions>
        <button color="accent" mat-button [mat-dialog-close]="articlesForm.value" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>
