<div class="container showAddArtcl">
    <h2>Edit article:</h2>
    <mat-form-field class="example-form-field">
        <mat-label>Enter Title </mat-label>
        <input matInput type="text"  [(ngModel)]="art.title" name="title" placeholder="Entr title..." />
    </mat-form-field>
    <mat-form-field class="example-form-field" >
        <mat-label>Enter Description</mat-label>
        <textarea placeholder="Enter description..." [(ngModel)]="art.description" name="description" matInput></textarea>
    </mat-form-field>
    <mat-form-field class="example-form-field" > 
        <mat-label>Choose an option</mat-label>
          <mat-select [(value)]="art.categoryId" >
            <mat-option value="604fd068b2690256a866fe02">Sport</mat-option>
            <mat-option value="604fd068b2690256a866fe00" >Technology</mat-option>
            <mat-option value="604fd068b2690256a866fe01">Music</mat-option>
            <mat-option value="6050581c0e50e65eac35586f">Art</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="radio" >
      <mat-slide-toggle [(ngModel)]="art.published">Publish immediately?</mat-slide-toggle>
    </div>
    <div (click) = "editArt(art)"  class="button">
        <button>Edit</button>
    </div>
</div>
